.navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 101px;
}
.navbar--navigation,
.navbar--buttons {
  width: 250px;
}
.navbar--navigation div {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #1d1f22;
  cursor: pointer;
  display: inline-block;
  border: 0;
  background-color: #ffffff;
}

.active {
  font-weight: 600 !important; 
  color: #5ece7b !important;
  padding-bottom: 26px !important;
  padding-top: 32px !important;
  border-bottom: 2px solid #5ece7b !important;
}
.navbar--buttons {
  display: flex;
  justify-content: flex-end;
}
.navbar--cart > button,
.navbar--currency > button {
  border: 0;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.navbar--cart > button > img {
  padding-top: 4px;
}
.navbar--currency > button > img {
  margin-left: 10px;
  padding-bottom: 2px;
}
.navbar--currency > button {
  margin-right: 22px;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
.navbar--currency {
  position: relative;
}
.navbar--currencyList {
  position: absolute;
  left: -20px;
  box-shadow: 0px 4px 35px 0px #a8acb030;
  z-index: 5;
}
.navbar--currencyList > h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  background-color: #ffffff;
  transition: 0.2s ease-in background-color;
}
.navbar--currencyList > h1:hover {
  background-color: #eeeeee;
}
.navbar--cartBackground {
  height: calc(100% + 40px);
  width: 100%;
  background-color: rgba(57, 55, 72, 0.22);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 2;
}
.navbar--cartOverlay {
  background-color: #ffffff;
  width: 325px;
  height: 677px;
  position: absolute;
  top: 0;
  right: 72px;
  overflow: auto;
}
.navbar--cartOverlay::-webkit-scrollbar {
  width: 10px;
  background: #f1f1f1;
}
.navbar--cartOverlay::-webkit-scrollbar-thumb {
  background: #888;
}
.navbar--cartOverlay > button {
  display: inline-block;
  background-color: #5ECE7B;
  border: 1px solid #5ECE7B;
  padding: 17px 32px;
  color: #ffffff;
  margin-left: 12px;
  margin-bottom: 16px;
}
.navbar--cartOverlay--bag {
  display: inline-block;
  font-weight: 600 !important; 
  font-size: 14px !important; 
  background-color: #ffffff !important;
  margin: 0 !important;
  line-height: 120% !important;
  color: #1D1F22 !important;
  border: 1px solid #1D1F22 !important;
  padding: 16px 32px !important;
  text-decoration: none !important;
  margin-bottom: 16px !important;
}
.navbar--cartOverlay > h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
  padding: 32px 16px;
  margin-top: 10px;
}
.navbar--cartOverlay > h1 > span {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.navbar--cartOverlay--container {
  padding: 0 16px;
  margin-bottom: 42px;
  text-align: left;
  color: #1d1f22;
  display: flex;
  flex-direction: row;
}
.navbar--cartOverlay--info {
  display: flex;
  flex-direction: column;
}
.navbar--cartOverlay--info--parametrs {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.navbar--cartOverlay--info > h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  margin: 5px 0;
}
.navbar--cartOverlay--info > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.navbar--cartOverlay--total {
  padding: 0 16px;
}
.navbar--cartOverlay--info > section > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin: 5px 0;
}
.navbar--cartOverlay--info--activeItem {
  color: #ffffff;
  background-color: #1d1f22;
  border: 1px solid #5ece7b;
}
.navbar--cartOverlay--info--item {
  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin-right: 8px;
}
.navbar--cartOverlay--info--item:last-child {
  margin-right: 0;
}
.navbar--cartOverlay--container--counterButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}
.navbar--cartOverlay--container--counterButtons > button {
  padding: 6px 8px;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid black;
  background-color: #ffffff;
  cursor: pointer;
}
.navbar--cartOverlay--container--gallery {
  display: flex;
  align-items: center;
}
.navbar--cartOverlay--container--gallery > img {
  flex: none;
  order: 1;
  flex-grow: 1;
  width: 121px;
  margin-left: 8px;
}
.item--counter {
  position: absolute;
  top: -5px;
  right: -5px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #1d1f22;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.cart--parametrs--border--active{
  position: relative;
  border: 1px solid #5ECE7B;
  padding: 1px;
  display: flex;
  top: -1px;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
}
.cart--parametrs--border{
  width: 20px;
  height: 20px;
  padding: 1px;
  display: inline-block;
}
.cart--color{
  width: 16px;
  height: 16px;
}
.cart--item{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.inline{
  display: inline-block;
  margin-right: 4px;
}
.navbar--cartOverlay--container--counter{
  text-align: center;
}